body{
    text-align: center;
}

h1 {
    display: block;
    margin: 20px;
    font-family: arial, sans-serif;
    text-align: center;
}

#grid {
    display: inline-block;
    height: 500px;
    width: 500px;
    border: 1px solid #000;
    margin: auto;
    overflow-y: hidden;
}

.square {
	border: 1px solid #fff;
    background-color: #fff;
	display: inline-block;
    float: left;
}

.grid {
    border: 1px dotted #aaa;
    background-color: #fff;
	display: inline-block;
    float: left;
}