body{
    text-align: center;
}

h1 {
    display: block;
    margin: 20px;
    font-family: arial, sans-serif;
    text-align: center;
}

#grid {
    display: inline-block;
    height: 500px;
    width: 500px;
    border: 1px solid #000;
    margin: auto;
}

.square {
	border: 0px solid #000;
	display: inline-block;
    white-space: no-wrap;
    float: left;
}